module.exports = {
  TOKEN: "token",
  PREFIX: "?",
  DBCONNECTION: "mongodb://localhost:27017/test",
  DEFAULTSETTINGS: {
    prefix: "?",
    logChannel: "bot-logs",
    welcomeMessage: "Welcome {{user}}"
  }
}